{
    # Global Caddy settings
    admin off
    auto_https off
}

:80 {
    root * /var/www/html/public

    # Handle PHP files with FrankenPHP
    php_server

    # Handle Laravel's "pretty URLs"
    encode gzip
    file_server
    try_files {path} {path}/ /index.php?{query}
}
